/* .navbar {
  display: inline;
  background-color: brown;
}

h1 {
  background-color: grey;
  display: inline;
}

.navbar li{
  background-color: blueviolet;
  display: inline;
}

nav {
  background-color: cadetblue;
} */

nav, ul, li {
  display: flex;
}